body {
  background: #6db4f2;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.alpha {
  background-color: yellow;
}

.myTop-row {
  background-color: #315e00;
  border-bottom: 1px solid #92bc40;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.myNav {
  background: linear-gradient(#3385bf, #a2e6ff);
  align-items: stretch;
}

.horizontalNav-Item a {
  color: black;
}

.myNav-item a {
  color: black;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.blog-grid {
  display: grid;
  justify-items: center;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
.blog-grid .blog {
  background-color: #618c03;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease-in-out;
  width: 20vw;
}
.blog-grid .blog .text {
  margin-top: 2.5vh;
  padding: 1.1rem;
  border-top: 8px solid #315e00;
}
.blog-grid .blog .text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blog-grid .blog .text h4:hover {
  color: #6db4f2;
}
.blog-grid .blog .text p {
  color: black;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.blog-grid .blog img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.blog-grid .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blog-grid .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
}
