$bg: #ead2a8;
$pColor: #0000ca;
$sColor: #ca0000;
$pLight: #A7A9FF;
$pDark: #000097;
$sLight: #ff4e2f;
$sDark: #910000;


a {
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

h1 {
    font-family: 'Century Gothic',Geneva,sans-serif;
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: bolder;
    margin: auto;
    grid-column: 1/13;
}

h2 {
    font-family: 'Century Gothic',Geneva,sans-serif;
    text-align: center;
    margin: auto;
}

h3 {
    font-family: 'Century Gothic',Geneva,sans-serif;
    text-align: center;
    margin: auto;
}

p {
    margin: auto;
    font-family: 'Century Gothic',Geneva,sans-serif;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient($pDark,$pLight);
    align-items: flex-start;
}

img {
    max-width: 1200px;
    width:95%;
}

main {
    grid-column: 3 / span 10;
}

.myTitle {
    font-size: 4vw;
    text-align: center;
}

.cars {
    color: $pColor;
    font-size: 2vw;
    text-align: center;
}

.trucks {
    color: $sColor;
    font-size: 2vw;
    text-align: center;
}

.text-gradient {
    background: -webkit-linear-gradient(0deg, $pColor 0%, $sColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-column: 1/13;
    font-size: 1vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 3px solid red;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;

    text-align: center;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 3px solid red;
    justify-items: center;
    align-items: start;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.logo {
    grid-row: 1/ span 2;
    display: block;
    justify-items: center;
    margin: 10px 10px 10px 10px;
}

.left-vertical-nav-bar {
    grid-column: 1/3;
}

.myTop-row {
    background-color: $pDark;
    border-bottom: 1px solid $pLight;
    color: white;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 3/13;
    display: none; 
}

.myNav {
    align-items: stretch;
}

.myNav-item {

    a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        font-size: 1vw;

        :visited {
            color: pink;
        }

        :focus {
            color: pink;
        }
    }
}

.horizontalNav-Item {
    a {
        color: white;
    }
}

.featured-vehicle-graphic-left {
    grid-column: 2/7;
    margin: auto;
    padding: 10px;
    transition-duration: .3s;
    transition-property: transform;

    :before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
        transition-duration: .3s;
        transition-property: transform opacity;
    }

/*    :before {
        opacity: .4;
        transform: translateY(6px);
        animation-name: hover-shadow;
        animation-duration: 1.5s;
        animation-delay: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }*/

/*    :hover {
        transform: translateY(-6px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }*/
}

.featured-vehicle-graphic-right {
    grid-column: 7/12;
    margin: auto;
    padding: 10px;

/*    :before {
        pointer-events: none;
        position: absolute;
        z-index: -1;f
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
        transition-duration: .3s;
        transition-property: transform opacity;
    }

    :before {
        opacity: .4;
        transform: translateY(6px);
        animation-name: hover-shadow;
        animation-duration: 1.5s;
        animation-delay: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    :hover {
        transform: translateY(-6px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }*/
}

.graphic-container {
    grid-column: 3/11;
    margin: auto;
    padding: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.section-header {
    grid-column: 4/10;
}

.section-divider {
    grid-column: 1/13;
    margin: 50px;
    max-width:1200px;
}

.grid-item {
    border: 2px solid blue;
    background: blue; 
    text-align: center;
}

.md-header {
    grid-column: 1/13;
    border-bottom: solid 2px red;
}

.grid-graphic-text-container {
    grid-column: 4/10;
}

.greeting {
    grid-column: 5/9;
}

.svg {
    display: block;
    border: none;
    margin: auto;
    width: 90%;
    max-width: 500px;
}

/*.blog-grid {
    display: grid;
    justify-items: center;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;


    .blog {
        background-color: $pColor;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
        transition: all 0.4s ease-in-out;
        width: 20vw;


        .text {
            margin-top: 2.5vh;
            padding: 1.1rem;
            border-top: 8px solid $pDark;



            h4 {
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
                transition: all 0.4s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $sColor;
                }
            }

            p {
                color: black;
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }




        img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-5px);
            transition: all 0.4s ease-in-out;

            img {
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
            }
        }
    }
}*/

.alpha {
    grid-column: 3/13;
    font-size:5rem;
    background-color: red;
}

.mission-text-box {
    grid-column: 4/6;
}

.hero-pic {
    grid-column: 8/11;
    max-width: 95%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items:center; 
    justify-items: center;
}

@media only screen and (max-width: 600px) {
    .section-divider {
        grid-column: 1/13;
        margin: 5px;
    }
}









