@using Microsoft.AspNetCore.Components.Web
@namespace NWACarsAndTrucksV2._0.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://something_here">
    <link rel="alternate" type="application/rss+xml" title="New_title_here_kick Point Inc. Feed" href="https://kickpoint.ca/feed/new_feed_here">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7FBJ80BCCR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7FBJ80BCCR');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-58H8BHG');</script>
    <!-- End Google Tag Manager -->


    <title>New Title Here Kick Point Digital Marketing Agency | Are you ready to do better?</title>
    <meta name="description" content="New description here We work with exceptional entrepreneurs and organizations to do better marketing. It&#039;s time to figure out how your clients and
	customers make decisions." />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://new link here kickpoint.ca/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="new content here Kick Point Digital Marketing Agency | Are you ready to do better?" />
    <meta property="og:description" content="new content here We work with exceptional entrepreneurs and organizations to do better marketing. It&#039;s time to figure out how your clients
	and customers make decisions." />
    <meta property="og:url" content="https://new url here kickpoint.ca/" />
    <meta property="og:site_name" content="new content here Kick Point Inc." />
    <meta property="article:publisher" content="https://new content here www.facebook.com/kickpointinc" />
    <meta property="article:modified_time" content="2021-01-19T18:12:31+00:00" />
    <meta property="og:image" content="https://new url image here kickpoint.ca/wp-content/uploads/2017/09/KickPoint-Facebook.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://kickpoint.ca/wp-content/uploads/2017/09/KickPoint-Twitter.png" />
    <meta name="twitter:creator" content="&#64;nwacarsandtrucks" />
    <meta name="twitter:site" content="&#64;nwacarsandtrucks" />
    <meta name="msvalidate.01" content="64565EEF94C2DD75EE16B1F8F885829F" />
    <meta name="google-site-verification" content="RA8Kj2IpRDaawn6Z2g26AUYWMfPc2UmJPt_YVsiu3es" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <link href="NWACarsAndTrucksV2.0.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58H8BHG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
