@page "/blog"
        
            <div class="">
                <div class="">
                    <h1>My <span>Blogs</span></h1>
                </div>
                <div class="" >
                    <div class="" style="" >
                        <a href=""><img class="" src=""  alt="" /></a>
                        <div class="">
                            <h4>
                                Marketing Channel Costs
                            </h4>
                            <p>
	                            You have an amazing product. What's the best way to get it to the customer? 
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        