@page "/blog"

<h1>My Blogs</h1>
<div class="blog-grid">

    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>

    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>

    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>
    
    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>
    
    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>

    <div class="blog">
        <a href=""><img class="" src="/css/NWA Cars and Trucks Logo.svg" alt="Logo Model A Ford" /></a>
        <div class="text">
            <h4>
                Marketing Channel Costs
            </h4>
            <p>
                You have an amazing product. What's the best way to get it to the customer?
            </p>
        </div>
    </div>

</div>


