@page "/calculators"

<h1>Calculators</h1>
<ul>
    <li>Affordability Calculator</li>
    <li>Car Lease Calculator</li>
    <li>Car Payment Calculator</li>
    <li>Cost of ownership calculator</li>
</ul>
@code {

}
