@page "/"

<PageTitle>NWA Cars and Trucks</PageTitle>





<div class="grid-container">
    <!--Row 1: Header-->
    <div class="section-divider">
        
            <span class="myTitle">
                <span style="color:red">NORTHWEST</span>
                <span style="color:blue"> ARKANSAS</span> <br />
            </span> <br />
            
            <div class="text-gradient">
                <span class="cars">CARS  &</span>
                <span class="trucks">  TRUCKS</span> <br   />
                RESEARCH BETTER | DRIVE BETTER | OWN BETTER
            </div>
        


    </div>


    <div class="md-header">
        <h2>BROUGHT TO YOU BY:</h2>
        <a target="_blank" href="https://www.bentonvilleford.com"><img alt="McLarty Daniel Ford Lincoln logo" class="md-header" src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/MD%20FORD%20HEADER%20(NO%20WF).jpg" style="max-width:100vw; max-height:100vh;height:auto;display:block; color:#ffffff; vertical-align:middle;"></a>
    </div>

    <!--Row 2: Greeting-->
    <!--Row 3: My Message-->
    <div class="graphic-container">
        <div>
            As a sales professional and relationship manager at Mclarty Daniel Ford Lincoln
            My priority is to ensure all your vehicle needs are being met.
            My name is Scott Donalson. I would love to have the opportunity to assist you.
        </div>
        <div>
            Ways I can help:
            Service appointments
            Parts
            New and used vehicles
        </div>
        <div>
            Scott Donalson | MD Sales Professional
            Husband | Father | Veteran
            539.238.7733
            sdonalson@mclartydaniel.com
            https://nwacarsandtrucks.com
        </div>



    </div>
    <!--Row 4: Section Divider-->
    <div class="section-divider">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
    </div>
    <!--Row 5: Social Media Links-->
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>

    <div class="icon">
        <a target="_blank" href="https://www.facebook.com/NWACarsandTrucks">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Facebook Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://www.instagram.com/nwa_cars_and_trucks/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Instagram Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://twitter.com/NWACarsTrucks">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Twitter Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://nwacarsandtrucks.azurewebsites.net">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Webpage Icon.png">
        </a>
    </div>

    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <!--Row 6: Section Divider-->

    <div class="section-divider">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
    </div>

    <!--Row 7: Events Header-->


    <div class="section-header">
        <h2>EVENTS</h2>
    </div>

    <!--Row 9-->


    <div class="graphic-container">
        <a target="_blank" href="https://www.facebook.com/events/3597697887123505">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Memorial-Day-2022.jpg">
        </a>
    </div>


    <div class="grid-graphic-text-container">

        <h1>
            Memorial Day Weekend Event
        </h1>
        <h2>
            McLarty Daniel Ford Lincoln
        </h2>
        <p>
            Are you looking for a great deal on a used or new vehicle?
            Look no further!
            We have hundreds of vehicles in stock that are sure to meet your needs and budget.
            We will be open all Memorial Day Weekend, with the exception of our service center being closed Sunday and Monday!<br /><br />
            Friday, May 27<br />
            Sales 8:00am-7:00pm | Service 7:00am-6:00pm<br />
            Saturday, May 28<br />
            Sales 8:00am-7:00pm | Service 7:00am-3:00pm<br />
            Sunday, May 29<br />
            Sales 12:00pm-6:00pm | Service CLOSED<br />
            Monday, May 30<br />
            Sales 8:00am-7:00pm | Service CLOSED<br />
        </p>
    </div>


    <div class="section-header">
        <h2>
            ! MEMORIAL DAY SALE !
        </h2>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2022-Jeep-Wrangler-Unlimited_Rubicon_392_4WD_SUV-Bentonville-AR/5296683510"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pw123268.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-Ford-F_150-Raptor_4WD_Truck-Bentonville-AR/5298187120"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/b24920.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2018-GMC-Terrain-SLE_FWD_SUV-Bentonville-AR/5296683780"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pl137135.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2021-GMC-Sierra_2500HD-SLT_4WD_Truck-Bentonville-AR/5296683450"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pf160578.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-Chevrolet-Camaro-SS_RWD_Coupe-Bentonville-AR/5293488320"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/p0109936.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2021-GMC-Sierra_1500-SLE_4WD_Truck-Bentonville-AR/5296683580"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pg196926.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2020-Chevrolet-Tahoe-LT_RWD_SUV-Bentonville-AR/5298280870"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pr122271.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-Dodge-Challenger-R%2FT_Scat_Pack_RWD_Coupe-Bentonville-AR/5294430570"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/ph642653.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-LINCOLN-MKC-Reserve_AWD_SUV-Bentonville-AR/5294430660"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pul18808.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-LINCOLN-Navigator-Reserve_4WD_SUV-Bentonville-AR/5293488090"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pel23667.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2003-Chevrolet-Corvette-Base_RWD_Convertible-Bentonville-AR/5294998100"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/p5135117.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2021-Ford-Explorer-King_Ranch_RWD_SUV-Bentonville-AR/5277467810"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/gb25024.png"></a>
    </div>
    <div class="featured-vehicle-graphic-left">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-Ford-Explorer-XLT_FWD_SUV-Bentonville-AR/5290170300"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/ga03943.png"></a>
    </div>
    <div class="featured-vehicle-graphic-right">
        <a target="_blank" href="https://www.bentonvilleford.com/VehicleDetails/used-2019-Chevrolet-Tahoe-LT_4WD_SUV-Bentonville-AR/5292297020"><img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/pr376540.png"></a>
    </div>

    <!--Section Divider-->
    <div class="section-divider">
        <div class="section-divider">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
        </div>
    </div>

    <!--Ford News-->
    <div class="section-header">
        <h2>
            FORD NEWS
        </h2>
    </div>

    <div class="grid-graphic-text-container">
        <p>
            Rules for ordering new cars are changing in June. <br />
            Currently many models do not require a deposit when you order from the factory.<br />
            However, starting in June, Ford and Lincoln are planning on requiring deposits. <br />
            If you have been thinking of ordering a vehicle and haven't now is the time.
        </p>
    </div>

    <div class="graphic-container">
        <a target="_blank" href="https://fordauthority.com/2022/05/2021-ford-mustang-mach-e-being-benchmarked-by-general-motors/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/2021-Ford-Mustang-Mach-E-December-2021-001-1024x683.jpg">
        </a>

    </div>
    <div class="grid-graphic-text-container">
        <h3>
            2021 Ford Mustang Mach-E Being Benchmarked By General Motors<br />
            By Edward Snitkoff <br />
        </h3>
        <p>
            Since the 2021 Ford Mustang Mach-E launched in the U.S. in late 2020, the electric
            crossover-hatch has steadily been generating a substantial amount of interest.
            As Ford Authority previously reported, it is on the radar of electrified vehicle shoppers,
            and those who already purchased the Mach-E overwhelmingly recommend it. The Blue Oval's
            rivals have obtained their own Mach-E units to test, as we recently caught Japanese automaker Subaru
            testing one, as was Ford frenemy Rivian. And now, FoMoCo's cross-town rival, General Motors,
            has decided to join the Mach-E evaluation party, as we spotted the automaker benchmarking the Ford EV.
        </p>
    </div>

    <div class="graphic-container">
        <a target="_blank" href="https://motorillustrated.com/ford-vehicles-could-automatically-adjust-to-the-speed-limit-in-certain-areas/99036/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/2022_Ford-E-Transit_01-1.jpg">
        </a>
    </div>

    <div class="grid-graphic-text-container">
        <h3>
            Ford Vehicles Could Automatically Adjust to the Speed Limit in Certain Areas<br />
            By Anthony Lemonde <br />
            May 25, 2022
        </h3>
        <p>
            Ford is testing a new technology that will help drivers avoid speeding fines.<br />
            <br />
            The technology uses the GPS to detect areas where the speed limit is lower, such as school zones<br />
            Drivers will be able to override the system if they need to drive faster than the limit<br />
            New zones can be added by the driver<br />
        </p>
    </div>


</div>


