@page "/"

<PageTitle>NWA Cars and Trucks</PageTitle>





<div class="grid-container">
    <!--Row 1: Header-->
    <div class="section-divider">

        <span class="myTitle">
            <span style="color:red">NORTHWEST</span>
            <span style="color:blue"> ARKANSAS</span> <br />
        </span> <br />

        <div class="text-gradient">
            <span class="cars">CARS  &</span>
            <span class="trucks">  TRUCKS</span> <br />
            - RESEARCH BETTER - <br />
            - DRIVE BETTER - <br />
            - OWN BETTER -
        </div>

    </div>


    <div class="section-header">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
    </div>

    <!--Row 2: Greeting-->

    <!--Row 3: My Message-->
    <div class="mission-text-box">
        <div>
            My mission is to assist the people of Northwest Arkansas in finding the perfect vehicle. <br />
            That means finding the vehicle that meets their budget, their needs, and their desires. <br />

            My name is Scott Donalson. I would love to have the opportunity to assist you.
        </div>
        <div>
            Ways I can help:
            Providing the online resources to answer your questions
            Walk you through the process of purchasing a vehicle
            Help along the way to take advantage of all the features of your new vehicle
        </div>

        <div>
            Scott Donalson | MD Sales Professional
            Husband | Father | Veteran
            539.238.7733
            sdonalson@mclartydaniel.com
            https://nwacarsandtrucks.azurewebsites.net
        </div>

        CASH FINANCE OR LEASE A CAR?




    </div>
    <div class="hero-pic">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/ScottDonalson.jpg" alt="Alternate Text" />
    </div>
    <!--Row 4: Section Divider-->
    <div class="section-divider">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
    </div>
    <!--Row 5: Social Media Links-->
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>

    <div class="icon">
        <a target="_blank" href="https://www.facebook.com/NWACarsandTrucks">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Facebook Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://www.instagram.com/nwa_cars_and_trucks/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Instagram Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://twitter.com/NWACarsTrucks">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Twitter Icon.png">
        </a>
    </div>
    <div class="icon">
        <a target="_blank" href="https://nwacarsandtrucks.azurewebsites.net">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Webpage Icon.png">
        </a>
    </div>

    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <!--Row 6: Section Divider-->

    <div class="section-divider">
        <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
    </div>

    <!--Row 7: Events Header-->


    <div class="section-header">
        <h2>EVENTS</h2>
    </div>

    <!--Row 9-->


    <div class="graphic-container">
    </div>


    <div class="grid-graphic-text-container">
    </div>


    <div class="section-header">
        <h2>
        </h2>
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>
    <div class="featured-vehicle-graphic-left">
    </div>
    <div class="featured-vehicle-graphic-right">
    </div>

    <!--Section Divider-->
    <div class="section-divider">
        <div class="section-divider">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/Section Divider.png" alt="Alternate Text" />
        </div>
    </div>

    <!--Ford News-->
    <div class="section-header">
        <h2>
            FORD NEWS
        </h2>
    </div>

    <div class="grid-graphic-text-container">
        <p>
            Rules for ordering new cars are changing in June. <br />
            Currently many models do not require a deposit when you order from the factory.<br />
            However, starting in June, Ford and Lincoln are planning on requiring deposits. <br />
            If you have been thinking of ordering a vehicle and haven't now is the time.
        </p>
    </div>

    <div class="graphic-container">
        <a target="_blank" href="https://fordauthority.com/2022/05/2021-ford-mustang-mach-e-being-benchmarked-by-general-motors/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/2021-Ford-Mustang-Mach-E-December-2021-001-1024x683.jpg">
        </a>

    </div>
    <div class="grid-graphic-text-container">
        <h3>
            2021 Ford Mustang Mach-E Being Benchmarked By General Motors<br />
            By Edward Snitkoff <br />
        </h3>
        <p>
            Since the 2021 Ford Mustang Mach-E launched in the U.S. in late 2020, the electric
            crossover-hatch has steadily been generating a substantial amount of interest.
            As Ford Authority previously reported, it is on the radar of electrified vehicle shoppers,
            and those who already purchased the Mach-E overwhelmingly recommend it. The Blue Oval's
            rivals have obtained their own Mach-E units to test, as we recently caught Japanese automaker Subaru
            testing one, as was Ford frenemy Rivian. And now, FoMoCo's cross-town rival, General Motors,
            has decided to join the Mach-E evaluation party, as we spotted the automaker benchmarking the Ford EV.
        </p>
    </div>

    <div class="graphic-container">
        <a target="_blank" href="https://motorillustrated.com/ford-vehicles-could-automatically-adjust-to-the-speed-limit-in-certain-areas/99036/">
            <img src="https://wd.eleadcrm.com/evo2/companies/ARLNMCFCD/Images/Scott-Donalson-Directory/2022_Ford-E-Transit_01-1.jpg">
        </a>
    </div>

    <div class="grid-graphic-text-container">
        <h3>
            Ford Vehicles Could Automatically Adjust to the Speed Limit in Certain Areas<br />
            By Anthony Lemonde <br />
            May 25, 2022
        </h3>
        <p>
            Ford is testing a new technology that will help drivers avoid speeding fines.<br />
            <br />
            The technology uses the GPS to detect areas where the speed limit is lower, such as school zones<br />
            Drivers will be able to override the system if they need to drive faster than the limit<br />
            New zones can be added by the driver<br />
        </p>
    </div>


</div>


