@page "/mission"
<h1>NWA Cars and Trucks' Mission</h1>
<p>Many people struggle with where to start the process of looking for a new car. </p>
<p>I'm here to help you sort through the information to select a car that is a great fit for your lifestyle, preferences, and budget.</p>
<p>Everyone wants to know exactly what they want before contacting the dealership. 
However, even with all the information online and over 60% of consumers researching online themselves, 
only about 33% of consumers know what they want when they contact the dealership. </p>
<p>I'm here to assist and help you be more prepared when contacting the dealership. 
I will be your advocate, respectful of your time, and transparent</p>


@code {

}
