@page "/steps"
        
            <div class="">
                <div class="">
                    <h1>Steps to purchasing a vehicle </h1>
                </div>
                <div class="" >
                    <div class="" style="" >
                        <a href=""><img class="" src=""  alt="" /></a>
                        <div class="">
                            <ol>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ol>
                            <p>
	                            
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        