@inherits LayoutComponentBase

<PageTitle>NWA Cars And Trucks</PageTitle>

<div class="page">

    <div class="myNav">


        <NavMenu />
    </div>

    <main>
        <div class="myTop-row px-4">
            <div class="horizontalNav-Item  px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="calculators">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Calculators
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="blog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Blogs
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="steps">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Purchasing a Vehicle
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="dealer-layout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dealership Layout
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="mission">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Mission
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="howto">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> How To Videos
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="contact">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Contact
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="faq">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> FAQ
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="sitemap">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sitemap
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="privacy">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Privacy
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="terms">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Terms and Conditions
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://www.facebook.com/NWACarsandTrucks">
                    <span class="oi fa-brands fa-facebook" aria-hidden="true"></span>  Facebook
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://twitter.com/NWACarsTrucks">
                    <span class="oi fa-brands fa-twitter"></span> Twitter
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://www.instagram.com/nwa_cars_and_trucks/">
                    <span class="oi fa-brands fa-instagram" aria-hidden="true"></span> Instagram
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://www.linkedin.com/company/nwa-cars-and-trucks">
                    <span class="oi fa-brands fa-linkedin" aria-hidden="true"></span> LinkedIn
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://www.pinterest.com/NWACarsAndTrucks/">
                    <span class="oi fa-brands fa-pinterest" aria-hidden="true"></span> Pinterest
                </NavLink>
            </div>
            <div class="horizontalNav-Item px-3">
                <NavLink class="nav-link" href="https://www.youtube.com/channel/UC5V4WQWPL9hWM3GeR4xvkiQ">
                    <span class="oi fa-brands fa-youtube" aria-hidden="true"></span> YouTube
                </NavLink>
            </div>

        </div>

        <article class="content px-4">
            <div class="alpha">

                <h2>THIS IS AN ALPHA RELEASE</h2>
            </div>
            @Body
        </article>
    </main>
</div>
